%h3 
	App Details
	= close_app_link @app
	%a.button{ href: url("/dashboard") } view all apps
%p 
	%strong Name: 
	= @app.name 
%p 
	%strong Type: 
	= @app.app_type 

%h3 Open Clients
%table
	%tr
		%th ID
		%th Last Update
		%th Actions
	- @app.clients.each do |client|
		%tr 
			%td= client.id
			%td= client.last_update
			%td
				= view_client_link @app, client
				= close_client_link @app, client