%h3 
	App Details
	%form{ action: url("/app/#{@app.name}/close"), method: 'post', onsubmit: "return confirm('Are you sure you want to close the app?');" }
		%button close app
	%a.button{ href: url("/dashboard") } view all apps
%p 
	%strong Name: 
	= @app.name 
%p 
	%strong Type: 
	= @app.app_type 

%h3 Open Clients
%table
	%tr
		%th ID
		%th Last Update
		%th Actions
	- @app.clients.each do |client|
		%tr 
			%td= client.id
			%td= client.last_update
			%td
				%a.button{ href: url("/app/#{app.name}/client/#{client.id}") } view
				%form{ action: url("/app/#{@app.name}/client/#{client.id}/close"), method: 'post', onsubmit: "return confirm('Are you sure you want to close the client?');" }
					%button close