%h3 
	Client Details
	= close_client_link @app, @client
%p 
	%strong ID: 
	= @client.id
%p 
	%strong Last Update: 
	= @client.last_update

%h4 Commands
%table
	%tr
		%th Name
		%th Data
		%th Timestamp
		%th Run?
		%th Persisted?
	- @client.commands.each do |command|
		%tr
			%td= command.name
			%td= command.data
			%td= command.timestamp
			%td= command.has_run? ? 'Y' : 'N'
			%td= command.has_been_persisted? ? 'Y' : 'N'

%hr/

%h3 
	App Details
	= view_app_link @app
%p 
	%strong Name: 
	= @app.name 
%p 
	%strong Type: 
	= @app.app_type 