%h2 Open Applications
- @apps_by_type.each do |app_type, apps|
	%h3.subheader= app_type
	%table
		%tr
			%th Name
			%th Clients
			%th Stable Timestamp
			%th Reconciled?
			%th Actions
		- apps.each do |app|
			%tr 
				%td= app.name
				%td= app.clients.length
				%td= app.stable_timestamp
				%td= !app.reconciled? ? 'N' : (app.has_been_unreconciled? ? 'Y' : 'N/A')
				%td
					%a.button{ href: url("/app/#{app.name}") } view
					%form{ action: url("/app/#{app.name}/close"), method: 'post', onsubmit: "return confirm('Are you sure you want to close the app?');" }
						%button close
	%hr/